.header{
    position: absolute;
    z-index: 1;
    background: linear-gradient(black, transparent);
}

.header img{
    width: 13%;
}

.login-container{
    position: absolute;
}

.login-form{
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 15%;
    position: absolute;
    top: 164px;
    opacity: 0.9;
    padding: 80px;
    gap: 10px;
    left: 500px;
}

.login-form h1{
    color: white;
}

.login-form input{
    padding: 10px;
}

.login-form p{
    color: white;
    cursor: pointer;
}

.login-form p:hover{
    text-decoration-line: underline;
}

.login-form button{
    height: 30px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}

.login-error{
    color: red;
    font-weight: 800;
}